
 
  
  h1 i {
    margin-right: 10px;
  }
  
  .header-text {
    font-size: 20px;
    color: #fff;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
  }
  
  .profile-details {
    width: 100%;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 10px 10px 10px -1px rgb(10, 99, 169,0.16), 3px 3px 10px -1px rgb(255, 255, 255, 0.5);
  }
  
  /* .profile-details img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
  } */
  
  .profile-details .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .profile-details label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .profile-details input {
    font-size: 1em;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #563afa;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #741fd6;
  }