<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="text-white">
                <h1 class="header-h1">
                    So Sorry! <br/>
                    something went wrong
                </h1>
                <h2>you will be redirected to Home page in {{timer}} seconds</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <img src="assets/wrong.png" class="w-100" alt="not-found image">
            </div>
        </div>
    </div>

</div>

