#home {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%),
     url('../../assets/hero-bg.jpg') center center no-repeat; */
    background-size: cover;
}
h1{
    color:#fff;
    font-size: 52px;
    font-weight: 700;
}
.header-text{
    font-size: 20px;
    color: #fff;
    text-decoration: none solid rgba(255, 255, 255, 0.8);
}
#vec-img{
    width: 100%;
}

#img-cont{
    animation: moveRightAndBack 3s ease-in-out infinite;
}
@keyframes moveRightAndBack {
    0%, 100% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-30px);
    }
  }
/* * Services * */
  #services{
    background-color: #F9F8FF;
    margin-bottom: 30px;
  }

  #services h2 {
    font-size: 40px;
  }

  #services p {
    font-size: 20px;
  }
  #arrow-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    padding: 5px 15px !important;
    font-size: 18px;
    transition: all 0.3s;
    opacity: 0;
  }

  .show-arrow-up{
    opacity: 1 !important;
  }


  /*********************************/
  .scroll-item {
    opacity: 0;
    transition: opacity 1.5s, transform 1.5s;
  }
  
  .scroll-item.visible {
    opacity: 1;
    transform: translateX(0);
  }

  .scroll-right{
    transform: translateX(50%);
  }
  .scroll-left{
    transform: translateX(-50%);
  }