<div id="home" class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row w-75 m-auto">
            <div class="col-md-7">
                <div class="d-flex flex-column h-100 justify-content-center">
                    <h1>
                        Welcome to AuthGate 
                    </h1>
                    <p class="header-text">
                        we deliver secure and efficient authentication solutions.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="./../../assets/home-vector.png" alt="home-vector" id="vec-img">
            </div>
        </div>
    </div>
</div>
