<div id="home" class="d-flex justify-content-center overflow-hidden">

    <div class="container h-100  mt-5 ">
        
            
                <div class="d-flex flex-column  justify-content-center scroll-item scroll-right mb-5" #animatedDiv>
                    <h1 class="text-center arbutus-slab-regular">
                        Welcome to
                    </h1> 
                </div>
            
        
        
            
            <div class="w-50 mx-auto home-logo"  >
                <div class="mt-3"  id="img-cont">
                    <img src="./../../assets/logo-white.png" alt="home-vector" id="vec-img">
                </div>
            </div>
        
        
    </div>
</div>


  <div id="our-customers" class="">
    <h3 class="header-h1">our customers</h3>
<owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [id]="slide">
        <div class=" carousel-image">
            <img [src]="slide" [alt]="slide" [title]="slide" class="w-100">
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
  </div>


<div class="container">
    <div id="services" class="p-5 rounded overflow-hidden" data-aos="fade-in">
    
        <h2 class="text-center mb-5">Services</h2>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="info-wrapper h-100 d-flex flex-column justify-content-center scroll-item scroll-left" #animatedDiv>
                    <h3 class="text-center">Single login</h3>
                    <p>Streamline your login experience! Our authentication service empowers users to seamlessly access partner websites with a single login. 
                        No more juggling multiple accounts  log in using your existing Facebook or Google credentials, or create a unified profile with us.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-wrapper"  >
                 <img src="assets/lock2.jpg" class="w-100" alt="about us">
                </div>
            </div>
        </div>

        <div class="row mt-5" id="animatedDiv" >
            <div class="col-md-6">
                <div class="img-wrapper">
                 <img src="assets/systems2.jpg" class="w-100" alt="about us">
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-wrapper h-100 d-flex flex-column justify-content-center scroll-item scroll-right" #animatedDiv>
                    <h3 class="text-center">we handle the log in system for you</h3>
                    <p>eliminates the need for each website to manage their own login system, saving them time and resources. 
                        Let us handle the secure authentication process, so you can focus on delivering a fantastic user experience.</p>
                </div>
            </div>
        
   
</div>
</div>

    <div id="arrow-up" class="custom-btn" [class.show-arrow-up]="showArrowUp" (click)="jumpTo('home')">
        <i class="fa-solid fa-arrow-up text-white" ></i>
    </div>



