<div class="container wrapper d-flex justify-content-center align-items-center">
  <div class="card-body p-2 p-md-3 p-lg-5 shadow-5 rounded bg-white">
    <div class="row">
      <div class="col-md-5">
        <div class="">
          <img src="assets/register.png" class="w-100" alt="login photo" />
        </div>
      </div>
      <div class="col-md-7">
        @if(isUser){
        <h2 class="fw-bold text-center">Register as a User</h2>
        @if(isProjectID){
        <h4 class="">you need to sing up first to continue...</h4>
        }
        <form
          [formGroup]="registerUserForm"
          (ngSubmit)="registerUser(registerUserForm)"
          class="d-flex flex-column justify-content-center px-1 px-md-5 py-3 w-75 w-100"
        >
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="name"
            class="fw-bold text-color-website form-control my-1"
          />
          @if(registerUserForm.get('name')?.errors &&
          (registerUserForm.get('name')?.touched || showUserErrors)){
          <div class="">
            @if(registerUserForm.get('name')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">name is required</span>
            }
          </div>
          }
          <input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Email"
            class="fw-bold text-color-website form-control my-1"
          />
          @if(registerUserForm.get('email')?.errors &&
          (registerUserForm.get('email')?.touched ||showUserErrors)){
          <div class="text-danger">
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            @if(registerUserForm.get('email')?.getError('required')){
            <span class="alert-text">email is required</span>
            } @if(registerUserForm.get('email')?.getError('email')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">email pattern is invalid</span>
            }
          </div>
          }
          <div class="password-wrapper">
            <i
              class="fa-solid"
              [class.fa-eye]="!isShowPassword"
              [class.fa-eye-slash]="isShowPassword"
              (click)="toggleShowPassword()"
            ></i>
            <input
              id="password"
              [type]="isShowPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Password"
              class="fw-bold border my-1 form-control"
            />
          </div>

          @if(registerUserForm.get('password')?.errors &&
          (registerUserForm.get('password')?.touched || showUserErrors)){
          <div class="text-danger">
            @if(registerUserForm.get('password')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">password is required</span>
            } @if(registerUserForm.get('password')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text text-danger"
              >Password pattern is invalid and must contain at least
            </span>
            <ul>
              <li>one uppercase letter.</li>
              <li>one digit.</li>
              <li>special character.</li>
              <li>minimum length is 8.</li>
            </ul>
            }
          </div>
          }
          <div class="password-wrapper">
            <i
              class="fa-solid"
              [class.fa-eye]="!isShowConfirmPassword"
              [class.fa-eye-slash]="isShowConfirmPassword"
              (click)="toggleShowConfirmPassword()"
            ></i>
            <input
              id="confirmPassword"
              [type]="isShowConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="confirm Password"
              class="fw-bold border my-1 form-control"
            />
          </div>

          @if(registerUserForm.get('confirmPassword')?.errors &&
          (registerUserForm.get('confirmPassword')?.touched ||showUserErrors)){
          <div class="text-danger">
            @if(registerUserForm.get('confirmPassword')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">confirm password is required</span>
            } @if(registerUserForm.get('confirmPassword')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text text-danger"
              >confirm Password pattern is invalid and must contain at least
            </span>
            <ul>
              <li>one uppercase letter.</li>
              <li>one digit.</li>
              <li>special character.</li>
              <li>minimum length is 8.</li>
            </ul>
            }
            @if(registerUserForm.get('confirmPassword')?.getError('passwordMismatch')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text"
              >confirm password doesn't match password</span
            >
            }
          </div>
          }
          <input
            id="phone"
            type="text"
            formControlName="phone"
            placeholder="phone"
            class="fw-bold text-color-website border my-1 form-control"
          />
          @if(registerUserForm.get('phone')?.errors &&
          (registerUserForm.get('phone')?.touched )){
          <div class="text-danger">
            @if(registerUserForm.get('phone')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">Invalid Phone number</span>
            }
          </div>
          }
          <input
            id="age"
            type="number"
            formControlName="age"
            placeholder="age"
            class="fw-bold text-color-website border my-1 form-control"
          />
          @if(registerUserForm.get('age')?.errors &&
          (registerUserForm.get('age')?.touched)){
          <div class="text-danger">
            @if(registerUserForm.get('age')?.getError('min') ||
            registerUserForm.get('age')?.getError('max')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">Age must be between 13 ad 100 </span>
            }
          </div>
          }
          <input
            type="submit"
            class="custom-btn w-50 m-auto mt-4"
            value="Register"
          />
          <!-- <a class="text-decoration-none cursor-pointer" (click)="this.isUser = false" >  Sign up as a Tenant ? </a> -->
        </form>
        } @if(!isUser){
        <h2 class="fw-bold text-center">Register as a Tenant</h2>
        <form
          [formGroup]="registerTenantForm"
          (ngSubmit)="registerTenant(registerTenantForm)"
          class="d-flex flex-column justify-content-center px-1 px-md-5 py-3 w-75 w-100"
        >
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="name"
            class="fw-bold text-color-website form-control my-1"
          />
          @if(registerTenantForm.get('name')?.errors &&
          (registerTenantForm.get('name')?.touched || showTenantErrors)){
          <div class="text-danger">
            @if(registerTenantForm.get('name')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">name is required</span>
            }
          </div>
          }
          <input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Email"
            class="fw-bold text-color-website form-control my-1"
          />
          @if(registerTenantForm.get('email')?.errors &&
          (registerTenantForm.get('email')?.touched || showTenantErrors)){
          <div class="text-danger">
            @if(registerTenantForm.get('email')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">email is required</span>
            } @if(registerTenantForm.get('email')?.getError('email')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">email pattern is invalid</span>
            }
          </div>
          }
          <div class="password-wrapper">
            <i
              class="fa-solid"
              [class.fa-eye]="!isShowPassword"
              [class.fa-eye-slash]="isShowPassword"
              (click)="toggleShowPassword()"
            ></i>
            <input
              id="password"
              [type]="isShowPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Password"
              class="fw-bold border my-1 form-control"
            />
          </div>
          @if(registerTenantForm.get('password')?.errors &&
          (registerTenantForm.get('password')?.touched || showTenantErrors)){
          <div class="text-danger">
            @if(registerTenantForm.get('password')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">password is required</span>
            } @if(registerTenantForm.get('password')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text text-danger"
              >Password pattern is invalid and must contain at least
            </span>
            <ul>
              <li>one uppercase letter.</li>
              <li>one digit.</li>
              <li>special character.</li>
              <li>minimum length is 8.</li>
            </ul>
            }
          </div>
          }
          <div class="password-wrapper">
            <i
              class="fa-solid"
              [class.fa-eye]="!isShowConfirmPassword"
              [class.fa-eye-slash]="isShowConfirmPassword"
              (click)="toggleShowConfirmPassword()"
            ></i>
            <input
              id="confirmPassword"
              [type]="isShowConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="confirm Password"
              class="fw-bold border my-1 form-control"
            />
          </div>
          @if(registerTenantForm.get('confirmPassword')?.errors &&
          (registerTenantForm.get('confirmPassword')?.touched ||
          showTenantErrors)){
          <div class="text-danger">
            @if(registerTenantForm.get('confirmPassword')?.getError('required')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">confirm password is required</span>
            }
            @if(registerTenantForm.get('confirmPassword')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text text-danger"
              >confirm Password pattern is invalid and must contain at least
            </span>
            <ul>
              <li>one uppercase letter.</li>
              <li>one digit.</li>
              <li>special character.</li>
              <li>minimum length is 8.</li>
            </ul>
            }
            @if(registerTenantForm.get('confirmPassword')?.getError('passwordMismatch')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text"
              >confirm password doesn't match password</span
            >
            }
          </div>
          }
          <input
            id="phone"
            type="text"
            formControlName="phone"
            placeholder="phone"
            class="fw-bold text-color-website border my-1 form-control"
          />
          @if(registerTenantForm.get('phone')?.errors &&
          (registerTenantForm.get('phone')?.touched )){
          <div class="text-danger">
            @if(registerTenantForm.get('phone')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">Invalid Phone number</span>
            }
          </div>
          }
          <input
            id="address"
            type="text"
            formControlName="address"
            placeholder="address"
            class="fw-bold text-color-website border my-1 form-control"
          />
          <input
            id="website"
            type="text"
            formControlName="website"
            placeholder="website"
            class="fw-bold text-color-website border my-1 form-control"
          />
          @if(registerTenantForm.get('website')?.errors &&
          (registerTenantForm.get('website')?.touched )){
          <div class="text-danger">
            @if(registerTenantForm.get('website')?.getError('pattern')){
            <i class="fa-solid fa-circle-exclamation alert-icon"></i>
            <span class="alert-text">Invalid URL</span>
            }
          </div>
          }

          <input
            type="submit"
            class="custom-btn w-50 m-auto mt-4"
            value="Register"
          />
        </form>
        }
        <div class="d-flex justify-content-between">
          <div class="links">
            <a
              class="text-decoration-none cursor-pointer"
              (click)="this.isUser = !this.isUser"
            >
              @if(isUser){ sign up as Tenant ? } @if(!isUser){ sign up as user ?
              }
            </a>
            <br />
            <a class="text-decoration-none" routerLink="/login"
              >Have account already? Login here</a
            >
          </div>
          <div class="providers">
            <div class="d-flex justify-content-center align-items-center">
              <span class="mx-2 fw-bold">for users</span>
            </div>
            <div class="providers mt-2 d-flex justify-content-center">
              <div class="icon-wrapper" (click)="signInWithFacebook()">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="icon-wrapper" (click)="signInWithGoogle()">
                <i class="fa-brands fa-google"></i>
              </div>
              <div class="icon-wrapper" (click)="signInWithGitHub()">
                <i class="fa-brands fa-github"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
