<div class="d-flex flex-wrap  min-vh-100 rounded" id="imgDiv">
    <div class="d-flex flex-column justify-content-center align-items-center rounded m-auto p-4 shadow-lg  bg-dark w-50">
        <h3 class="fw-bold text-light">Log in</h3>
        <form [formGroup]="loginForm" (ngSubmit)="register(loginForm)" class="d-flex flex-column justify-content-center px-5 py-3 w-75 w-100">
            
            <input id="email" type="text" formControlName="email" placeholder="Email" class="fw-bold text-color-website form-control my-1">
            @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
                <div class="text-danger">
                    @if(loginForm.get('email')?.getError('required')){
                        <span class="fw-bold fs-6">* email is required</span>
                    }
                    @if(loginForm.get('email')?.getError('email')){
                        <span class="fw-bold fs-6">* email pattern is invalid</span>
                    }
                </div>
            }
            <input id="password" type="password" formControlName="password" placeholder="Password" class="fw-bold text-color-website border my-1 form-control">
            @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                <div class="text-danger">
                    @if(loginForm.get('password')?.getError('required')){
                        <span class="fw-bold fs-6">* password is required</span>
                    }
                    @if(loginForm.get('password')?.getError('pattern')){
                        <span class="fw-bold fs-6">* password pattern is invalid and 
                            must contain at least <span  class="text-info">one uppercase letter,one digit and special character and minimum length is 8</span>.
                        </span>
                    }
                </div>
            }
            <input type="submit" [disabled]="!loginForm.valid" class="btn btn-info w-50 m-auto mt-4" value="Login" />
        </form>
        <a class="text-color-website text-decoration-none fw-bold" routerLink="/user-signup">Don't have an account ? Sign up</a>
    </div>
</div>

