<div class="container">
  <h1 class="header-h1">Developers</h1>
  <div class="wrapper card-body p-5 rounded cards">
    <div class="steps">
      <h3>1. First step is asdasdasdasd</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                  Beatae odit quo aliquam nisi velit magni natus asperiores eaque, 
                  debitis recusandae tempora inventore ducimus saepe hic dignissimos 
                  ipsum perferendis, ut, similique eos? Atque minus nisi voluptatibus, 
                  velit aperiam delectus eos et commodi dolor ipsam placeat sequi! Consectetur
                  odio ullam ea quibusdam explicabo neque porro aliquam. Explicabo suscipit 
                  cumque distinctio natus minima.</p>
      <h3>2. Second step is asdasdasdasd</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae odit quo aliquam nisi velit magni natus asperiores eaque, debitis recusandae tempora inventore ducimus saepe hic dignissimos ipsum perferendis, ut, similique eos? Atque minus nisi voluptatibus, velit aperiam delectus eos et commodi dolor ipsam placeat sequi! Consectetur odio ullam ea quibusdam explicabo neque porro aliquam. Explicabo suscipit cumque distinctio natus minima.</p>
      <h3>3. Third step is asdasdasdasd</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae odit quo aliquam nisi velit magni natus asperiores eaque, debitis recusandae tempora inventore ducimus saepe hic dignissimos ipsum perferendis, ut, similique eos? Atque minus nisi voluptatibus, velit aperiam delectus eos et commodi dolor ipsam placeat sequi! Consectetur odio ullam ea quibusdam explicabo neque porro aliquam. Explicabo suscipit cumque distinctio natus minima.</p>
      <app-code [code]="code2"></app-code>
      <h3>4. Forth step is asdasdasdasd</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae odit quo aliquam nisi velit magni natus asperiores eaque, debitis recusandae tempora inventore ducimus saepe hic dignissimos ipsum perferendis, ut, similique eos? Atque minus nisi voluptatibus, velit aperiam delectus eos et commodi dolor ipsam placeat sequi! Consectetur odio ullam ea quibusdam explicabo neque porro aliquam. Explicabo suscipit cumque distinctio natus minima.</p>
      <h3>5. Fifth step is asdasdasdasd</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae odit quo aliquam nisi velit magni natus asperiores eaque, debitis recusandae tempora inventore ducimus saepe hic dignissimos ipsum perferendis, ut, similique eos? Atque minus nisi voluptatibus, velit aperiam delectus eos et commodi dolor ipsam placeat sequi! Consectetur odio ullam ea quibusdam explicabo neque porro aliquam. Explicabo suscipit cumque distinctio natus minima.</p>
    </div>
    <!-- <app-code [code]="code"></app-code> -->

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            C# Backend Client
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-tabs [headers]="headers" [contents]="contents"></app-tabs>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


