


    <footer >
        <div class="container">
            <div class="row footer-top">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-section ">
                        <h4>AuthGate</h4>
                        <p>Phone: +1 5589 55488 55</p>
                        <p>Email: AuthGate.gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-section">
                        <h4>Useful Links</h4>
                        <p><a routerLink="/home"><i class="fa-solid fa-chevron-right"></i> Home</a></p>
                        <p><a><i class="fa-solid fa-chevron-right"></i> About us</a></p>
                        <p><a routerLink="/services" fragment="services"><i class="fa-solid fa-chevron-right"></i> Services</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-section">
                        <h4>Our Services</h4>
                        @if(user._id){
                            <p><a routerLink="/profile"> <i class="fa-solid fa-chevron-right"></i> Profile</a></p>
                        }
                        <p><a routerLink="/developer"> <i class="fa-solid fa-chevron-right"></i> Developers</a></p>
                        @if(user.role=='admin'){
                            <p><a routerLink="/dashboard"> <i class="fa-solid fa-chevron-right"></i> Dashboard</a></p>

                        }
                        @if(user.role == 'tenant'){
                            <p><a routerLink="/projects"> <i class="fa-solid fa-chevron-right"></i> Projects</a></p>

                        }
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="footer-section">
                        <p class="qoute">
                            Streamline your login experience! Our authentication service empowers users to seamlessly access partner websites with a single login.
                        </p>
                    </div>
                </div>                    
            </div>
            <div class="footer-bottom">
                
                    <div>
                        <p>© Copyright AuthGate. All Rights Reserved</p>
                    </div>
            
                    <div class="social-links d-flex">
                      
                         <a>
                              <i class="fa-brands fa-facebook " ></i>
                         </a>
                         <a>
                              <i class="fa-brands fa-instagram "></i>
                         </a>
                         <a>
                              <i class="fa-solid fa-envelope "></i>
                         </a>    
                         <a>
                              <i class="fa-brands fa-linkedin "></i>
                         </a>  
                         <a>  
                              <i class="fa-brands fa-twitter "></i>
                         </a>
                      </div>
                  
                
            </div>
        </div>
    </footer>
