<div class="container">
    <div class="row my-4 wrapper">
        <div class="col-md-6">
            <div class="text-white">
                <h1 class="header-h1">
                    So Sorry! <br/>
                    The page you are looking for cannot be found
                </h1>
                <h2>Possible Reasons</h2>
                <ul>
                    <li class="text-white">The address may have been typed incorrectly.</li>
                    <li class="text-white">it may be a broken or outdated link.</li>
                </ul> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <img src="assets/notfound.png" class="w-100" alt="not-found image">
            </div>
        </div>
    </div>

</div>
