<div class="card-item">
  <p class="card-data">name</p>
  <span>{{ project.name }}</span>
  <p class="card-data">Callback URL</p>
  <span>{{ project.callBackUrl }}</span>
  <p class="card-data">client ID</p>
  <span>{{ project.clientID }}</span>
  <p class="card-data">Client Secret</p>
  <span>{{ project.clientSECRET }}</span>

  <div class="controls">
    <div class="control-item">
      <i
        class="fa-solid fa-trash-can text-danger"
        data-bs-toggle="modal" data-bs-target="#confirmDelete"
      ></i>
    </div>
    <div class="control-item">
      <i class="fa-solid fa-pen-to-square text-success"
      data-bs-toggle="modal" data-bs-target="#updateProj"
      ></i>
    </div>
  </div>
</div>



<div #confirmDelete class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            <i class="fa-solid fa-circle-exclamation text-danger"></i>
            Confirm Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>are you sure you want to delete this project ?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteProject(project.clientID)">Delete</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="updateProj" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Project</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateProjectForm" (ngSubmit)="updateProject(updateProjectForm)"> 
            <input type="text" id="clientID" formControlName="name" placeholder="Project Name" class="fw-bold  border my-1 form-control">
            @if(updateProjectForm.get('name')?.errors && updateProjectForm.get('name')?.touched){
                <div class="text-danger">
                    @if(updateProjectForm.get('name')?.getError('required')){
                        <span class="fw-bold alert-msg"><i class="fa-solid fa-circle-exclamation"></i> project name is required</span>
                    }
                </div>
            }
            <input type="text" id="callBackUrl" formControlName="callBackUrl" placeholder="callBack Url" class="fw-bold  border my-1 form-control">
            @if(updateProjectForm.get('callBackUrl')?.errors && updateProjectForm.get('callBackUrl')?.touched){
                <div class="text-danger">
                    @if(updateProjectForm.get('callBackUrl')?.getError('required')){
                        <span class="fw-bold alert-msg"><i class="fa-solid fa-circle-exclamation"></i> callBack Url is required</span>
                    }
                </div>
            }
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="updateProject(updateProjectForm)">confirm Updates</button>
        </div>
      </div>
    </div>
  </div>

